.sidebar {
    background-color: #B0B5BA; /* Gray color for the sidebar */
    color: #fff; /* White text color for the sidebar */
    height: 100vh;
    position: fixed;
    width: 200px;
    transition: width 0.3s;
    overflow: hidden;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: padding 0.3s;
}

.sidebar a:hover {
    padding-left: 20px; /* Adjust padding on hover */
    background-color: #666; /* Slightly darker gray background on hover */
}

.content {
    margin-left: 250px; /* Adjust margin to fit sidebar width */
    padding: 15px;
}
#sidebar-dropdown {
    background-color:#8a8f94 ;
}
/* Global Styling */
body {
    background-color: #f0f9f3; /* Lighter green shade for body background for staff page*/
    margin: 0;
}

/* Navigation Bar Styling */
.navbar {
    background-color: #6CB4EE !important; /* Green color for the navbar for staff page */
    margin-bottom: 0;
    margin-top: 0px;
}

.navbar-brand img {
    max-height: 50px; /* Adjust logo height */
    margin-right: 10px;
}

.container {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Open sans', sans-serif;
    max-font-size: 50px; /* Adjust font size for the brand */
    color: #f7fff7 !important; /* White color for the brand */
}

.navbar-dark .navbar-toggler-icon {
    background-color: #f7fff7; /* White color for the toggler icon */
}

.navbar-dark .navbar-nav .nav-link {
    color: #f7fff7 !important; /* White color for navbar links */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #a5d6a7 !important; /* Light green-gray shade for hover effect */
}

/* Search Form Styling */
#search {
    background-color: #AED3F2 ; /* Light, fresh green background color for the form */
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    color: #333; /* Text color for the form */
}

#search label {
    color: #555; /* Text color for form labels */
}

#search input[type="text"],
#search input[type="number"],
#search select {
    background-color: #fff; /* White background for text, number, and select input fields */
    color: #333; /* Text color for input fields */
    border: 1px solid #ccc; /* Light border for input fields */
}


#search button {
    background-color: #B0B5BA; /* Green color for the search button */
    color: #555; /* White color for the button text */
}

#search button:hover {
    background-color: #8a8f94; /* Darker green shade on button hover */
}

/* Form Header Styling */
.form-header {
    text-align: center;
    margin-bottom: 20px;
}
.form-header h2 {
    color: #002D62; /* Green color for the header */
    margin-bottom: 10px;
}

.form-header p {
    color: #555; /* Text color for description under the header */
}

/* Tooltip Styling */
.btn[title]:hover::after {
    content: attr(title);
    padding: 5px;
    background-color: #f7fff7; /* White background for tooltip */
    color: #555; /* Text color for tooltip */
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
}
.login-header h2 {
    font-family: 'Open sans', sans-serif;
    max-font-size: 50px; /* Adjust font size for the brand */
    color: #002D62 !important; /* White color for the brand */
}
#mess {
    color: #28a745; /* Zielony kolor tekstu */
    padding: 10px; /* Wewnętrzny odstęp */
    border-radius: 5px; /* Zaokrąglenie rogów */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Cień */
    text-align: center; /* Wyśrodkuj tekst */
}

#mess p {
    margin: 0; /* Zeruj margines dla <p> */
}
