 /* Global styling */
body {
    background-color: #eaf7ed;
    margin: 0;
}

/* Navigation bar styling */
.navbar {
    background-color: #2e7d32 !important;
    margin-bottom: 0;
    margin-top: 0px;
}

.navbar-brand img {
    max-height: 50px;
    margin-right: 10px;
}

.container {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Open sans', sans-serif;
    max-font-size: 50px;
    color: #f7fff7 !important;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #f7fff7;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f7fff7 !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #a5d6a7 !important;
}

/* Carousel container styling */
.carousel-container {
    margin-top: 20px;
}

/* Carousel item styling */
.carousel-image-container {
    position: relative;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(100, 141, 117, 0.9);
    color: #f7fff7;
    padding: 10px;
}

.carousel-caption h1 {
    size: 32px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 2px;
}

.carousel-caption h2 {
    size: 16px;
    text-align: left;
    margin-top: 0px;
    margin-left: 20px;
}

.carousel {
    max-width: 500px;
    max-height: 600px;
    margin: auto;
}

.carousel-image-container {
    max-width: 500px;
    max-height: 600px;
    margin: auto;
    object-fit: fill;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carousel-image-container:hover .overlay {
    opacity: 1;
}

.overlay p {
    color: #f7fff7;
    margin: 0;
}

.fixed-size-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Search form styling */
#search {
    background-color: #b3e0b7;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    color: #333;
}

#search label {
    color: #555;
}

#search input[type="text"],
#search input[type="number"],
#search select {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}

#search input[type="text"]:focus,
#search input[type="number"]:focus,
#search select:focus {
    border: 1px solid #2e7d32;
}

#search button {
    background-color: #2e7d32;
    color: #fff;
    border: none;
}

#search input[type="number"] {
    width: 45px;
}

#search button:hover {
    background-color: #4caf50;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-header h2 {
    color: #2e7d32;
    margin-bottom: 10px;
}

.form-header p {
    color: #555;
}

/* Tooltip styling */
.btn[title]:hover::after {
    content: attr(title);
    padding: 5px;
    background-color: #f7fff7;
    color: #555;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
}