<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/logo_icon.png">
    <title>Zmiana hasła | Schronisko Przytulne Łapki - strona pracownicza</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
    <!-- Dodanie Google Fonts - Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="../static/css/staff_styles.css" th:href="@{/css/staff_styles.css}" rel="stylesheet" />
    <block sec:authorize="hasAuthority('ADMIN')">
        <link href="../static/css/admin_styles.css" th:href="@{/css/admin_styles.css}" rel="stylesheet" />
    </block>
</head>

<body>

<!-- NAWIGACJA -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive"
                data-toggle="collapse" id="sidebar-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/main">
            <img alt="Logo" class="logo" th:src="@{/images/logo_icon.png}"/>
            <th:text sec:authorize="hasAuthority('USER')">
                Schronisko Przytulne Łapki — panel pracownika
            </th:text>
            <th:text sec:authorize="hasAuthority('ADMIN')">
                Schronisko Przytulne Łapki — panel administratora
            </th:text>
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Strona główna</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown" href="#"
                       id="userDropdown" role="button" style="color: lightskyblue;">
                        Zalogowano jako: <b style="text-transform: capitalize;"
                                            th:text="${#httpServletRequest.remoteUser}"></b>
                    </a>
                    <div aria-labelledby="userDropdown" class="dropdown-menu">
                        <form method="post" th:action="@{/index}">
                            <button class="dropdown-item" onclick="successfullyLogout()" type="submit" value="Sign Out">
                                Wyloguj
                            </button>
                        </form>
                        <a th:href="@{/changePassword}" class="dropdown-item">Zmień hasło</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="row">
        <div class="col-md-4 mt-5 mx-auto text-center">

            <div class="login-header">
                <h2>Zmiana hasła dla <b>[[${#httpServletRequest.remoteUser}]]</b></h2>
                <p>Wprowadź nowe hasło poniżej</p>
            </div>

            <form method="post" th:action="@{/changePassword}">

                <div class="form-group">
                    <label for="oldPassword">Stare hasło:</label>
                    <input id="oldPassword" type="password" placeholder="Wprowadź stare hasło" autocomplete="off" class="form-control" name="oldPassword" />
                </div>

                <div class="form-group">
                    <label for="newPassword">Nowe hasło:</label>
                    <input id="newPassword" type="password" placeholder="Wprowadź nowe hasło" autocomplete="off" class="form-control" name="newPassword" />
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Potwierdź nowe hasło:</label>
                    <input id="confirmPassword" type="password" placeholder="Potwierdź nowe hasło" autocomplete="off" class="form-control" name="confirmPassword" />
                </div>
                <div th:if="${param.errorMatchingPassword}" style="color:red; margin-bottom:15px">
                    BŁĄD: Nowe hasło nie pasuje do potwierdzenia!
                </div>
                <div th:if="${param.errorOldPassword}" style="color:red; margin-bottom:15px">
                    BŁĄD: Nieprawidłowe stare hasło!
                </div>


                <button class="btn btn-primary" type="submit" value="Change Password">Zmień hasło</button>
            </form>

        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>
