<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <title>Błąd | Schronisko Przytulne Łapki</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <!-- Dodanie Google Fonts - Open Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
  <block sec:authorize="hasAuthority('USER')">
    <link href="../static/css/staff_styles.css" th:href="@{/css/staff_styles.css}" rel="stylesheet" />
  </block>
  <block sec:authorize="hasAuthority('ADMIN')">
    <link href="../static/css/admin_styles.css" th:href="@{/css/admin_styles.css}" rel="stylesheet" />
  </block>
</head>
<body>
<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img th:src="@{/images/logo_icon.png}" class="logo" alt="Logo" />
      Schronisko Przytulne Łapki
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Strona główna
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/main}">Dla pracowników</a>
        </li>
      </ul>
    </div>
  </div>
</nav>





<div class="content">
  <div class="row">
    <div class="col-md-10 mt-5">
      <h2 th:text="${'Błąd ' + errorCode}"></h2>
      <p th:if="${errorCode eq '404'}">Nie znaleziono strony</p>
      <p th:if="${errorCode eq '403'}">Nie masz uprawnień dostępu do tej strony</p>
      <p th:if="${errorCode eq '500'}">Problem wewnętrzny serwera</p>
      <p th:if="${errorCode eq '504'}">Gateway timeout</p>
      <p th:if="${errorCode eq 'other'}" th:text="${'Wystąpił problem o kodzie błędu ' + errorCode}"></p>
    </div>
  </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/css/js/js/script.js}"></script>

</body>
</html>