<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="icon" type="image/x-icon" href="/images/logo_icon.png">
  <meta charset="UTF-8" />
  <title>Strona główna | Schronisko Przytulne Łapki</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>

<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img th:src="@{/images/logo_icon.png}" class="logo" alt="Logo" />
      Schronisko Przytulne Łapki
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Strona główna
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/main}">Dla pracowników</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">

    <!-- Carousel with pets' images -->
    <div class="col-md-8 carousel-container">
      <div id="mainCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div th:each="animal, iterStat : ${animals}" class="carousel-item"
               th:classappend="${iterStat.first} ? 'active'">
            <a th:href="@{/animal/{id}(id=${animal.id})}">
              <div class="carousel-image-container">
                <img th:src="'data:image/png;base64,' + ${animal.getPhotoPath()}"
                     class="fixed-size-image" th:alt="${'Photo of ' + animal.getName()}">
                <div class="overlay">
                  <p>Kliknij aby wyświetlić więcej informacji</p>
                </div>
                <div class="carousel-caption">
                  <h1 th:text="${animal.getName()}"></h1>
                  <h2 th:text="${animal.gender+', '+ animal.age + ' lat(a)'}"></h2>
                </div>
              </div>
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Poprzedni</span>
        </a>
        <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Następny</span>
        </a>
      </div>
    </div>

    <!-- Search form -->
    <div class="col-md-4">
      <div class="card" id="search">
        <div class="card-body">
          <form th:action="@{/searchToAdoption}" method="get">
            <div class="form-header">
              <h2>Znajdź swojego wymarzonego przyjaciela!</h2>
            </div>

            <div class="form-row">
            <!-- Pet's name -->
            <div class="form-group col-md-6">
              <label for="name">Imię zwierzęcia</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Imię" />
            </div>

              <!-- Gender -->
              <div class="form-group col-md-5">
                <label>Płeć</label>
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <select class="form-control mr-1" id="gender" name="gender">
                    <option></option>
                    <option value="Samiec">Samiec</option>
                    <option value="Samica">Samica</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- Age and Mass -->
            <div class="form-row">
              <!-- Age -->
              <div class="form-group col-md-5">
                <label>Wiek</label>
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <input type="number" step="1" class="form-control" id="ageMin" name="ageMin"
                         min="0">
                  <div class="pl-0.3 pr-0.3">-</div>
                  <input type="number" step="1" class="form-control" id="ageMax" name="ageMax">
                </div>
              </div>
              <!-- Mass -->
              <div class="form-group col-md-5">
                <label>Masa</label>
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <input type="number" step="1" class="form-control" id="massMin" name="massMin"
                         min="0">
                  <div class="pl-0.3 pr-0.3">-</div>
                  <input type="number" step="1" class="form-control" id="massMax" name="massMax">
                </div>
              </div>
            </div>

            <!-- Species and breed -->
            <div class="form-row">
              <!-- Species -->
              <div class="form-group col-md-5">
                <label>Gatunek</label>
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <select class="form-control mr-1" id="species" name="species">
                    <option></option>
                    <option th:each="specie : ${species}" th:value="${specie}"
                            th:text="${specie}">
                    </option>
                  </select>
                </div>
              </div>

              <!-- Breed -->
              <div class="form-group col-md-6">
                <label>Rasa</label>
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <select class="form-control mr-1" id="breed" name="breed">
                    <option></option>
                    <option th:each="breed : ${breeds}" th:value="${breed}" th:text="${breed}">
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <!-- Search button -->
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" title="Kliknij, aby poznać odpowiednie zwierzęta">
                Szukaj
              </button>
            </span>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>
